.icon-48-vsebine {
      background-image: url(../images/l_vsebine.png);
      padding-left:60px!important;
}

.icon-48-prispevek {
      background-image: url(../images/l_vsebine.png);
      padding-left:60px!important;
}

